extends layout

block content
  h1 Welcome to #{title}
  #papers
     - each paper in papers
       div.paper
         div.keyno= paper.KEYNO
         div.year= paper.YEAR
         div.authors= paper.AUTHORS
         div.refrence= paper.REFRENCE
